/* for swimlane height */
kt-tasklist{min-height:77px !important;}

/* for swimlane scrolling */
kt-tasklist{max-height:160px !important; overflow:scroll;}

/* styling code blocks */
pre {
  background-color: #333;
  color: #fff;
  font-weight: normal !important;
  padding: 7px !important;
}

